@import url('https://fonts.cdnfonts.com/css/rounded-elegance');
@import url('https://fonts.cdnfonts.com/css/bacalisties');
@import url('https://fonts.cdnfonts.com/css/marion');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Rounded Elegance', Arial, Helvetica, sans-serif;
}
:root {
  /* Color */
  --base-color: #eefcfc;
  --primary-color: #00a7a7;
  --secondary-color: #6abebe;
  --accent-color: #92b568;
  --tertiary-color: #b7dba1;
  --text-color: #1f2929;
  --gray-color: #dae2e2;
  --bgtransparent: transparent;
  --blend-mode: difference;

  --d: 1000ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rounded Elegance", sans-serif;
  --font-serif: "Marion", serif;

  /* Transition */
  --transition: 0.1s all ease-in-out;

  /* Quotes Animation */
  --quotes-slider-width: 1100px;
  --quotes-slider-height: 300px;
  --quotes-animation-duration: 25s;
  --quotes-animation-delay: 5s;
}

html{
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}
body {
  background-color: var(--base-color);
  overflow-x: hidden;
  
}

.navigation {
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 99999;
  display: inline-block;
  background: linear-gradient(to bottom, white 50%, transparent 50%);
  width: 100%;
  padding-inline: 2rem;
  background-size: 100% 200%;
  background-position: bottom;
  transition: all 1.5s cubic-bezier(0.7, 0.08, 0.3, 0.81);
  color: var(--base-color);
}

.brand {
  float: left;
  font-size: 1.8em;
  display: inline-flex;
  align-items: center;
}
.brand .nav-brand,
.brand .nav-brand:visited {
  font-family: 'bacalisties', sans-serif;
  color: inherit;
  text-decoration: none;
  transition: color 1s cubic-bezier(0.7, 0.1, 0.2, 0.9);
}
.navigation .nav-container {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid white;
}

.nav-container .navs-head {
  justify-content: space-between;
  display: inline-flex;
  width: 55vw;
}
.navs {
  width: max-content;
  display: inline-flex;
  align-items: center;
}
.navs > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.navs > .nav-list > li {
  height: 100%;
}
.navs > .nav-list > li,
.navs > .navbar-dropdown > li {
  float: left;
}
.navs > .nav-list > li > .nav-link,
.navs > .navbar-dropdown > li > .nav-link,
.navs ul li .nav-link:visited {
  display: block;
  padding: 0 1.2em;
  background: transparent;
  text-decoration: none;
}

.navs .nav-list li .nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  color: inherit;
  transition: color 1s cubic-bezier(0.7, 0.5, 0.5, 0.81);
  position: relative;
}

.navbar-dropdown .nav-link {
  transition: background 0.3s ease;
  padding-left: 4rem;
  color: var(--text-color) !important;
  text-decoration: none;
}

.navs ul li .nav-link:not(:only-child)::after,
.navs ul li .nav-link:visited:not(:only-child)::after {
  padding: 6px 5px 4px 6px;
  content: "▾";
  display: inline-block;
  transition: all 0.3s ease;
  height: max-content;
  width: max-content;
  justify-content: center;
}

.navs ul li .nav-link.active:not(:only-child)::after,
.navs ul li .nav-link.active:visited:not(:only-child)::after {
  transform: rotate(-180deg);
}
.navs .nav-list li .navbar-dropdown li {
  min-width: 190px;
  list-style: none;
  background-color: white;
}
.navs .nav-list li .navbar-dropdown li .nav-link {
  padding: 1em;
  padding-left: 2em;
  color: var(--text-color);
}

.navbar-dropdown {
  position: absolute;
  display: none;
  z-index: 1;

  padding-left: 0;
  color: var(--text-color);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  background: transparent;
  padding: 1em 1em;
  position: relative;
}
.navigation .nav-container .login-btn-grps {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
}

.login-btn-grps .login-btn {
  padding: 0.3em 1.5em;
  background-color: transparent;
  border: 2px solid white;
  color: inherit;
  text-decoration: none;
  font-size: 1em;
  transition: all 1.5s cubic-bezier(0.7, 0.1, 0.2, 0.9);
}

.login-btn-grps .login-btn:hover,
button:hover {
  background-color: var(--secondary-color);
  transition: all 0.4s cubic-bezier(0.7, 0.1, 0.2, 0.9);
}

@media only screen and (max-width: 52rem) {
  .navigation {
    padding-inline: 0;
  }
  
  .nav-mobile {
    display: block;
  }
  .navs {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    z-index: -1;
  }
  .navs > ul {
    display: none;
  }
  .navs > .nav-list {
    padding-top: 5rem;
  }
  .navs > .nav-list > li,
  .navs > .navbar-dropdown > li {
    float: none;
    height: auto;
  }
  .navs .nav-list li .nav-link {
    display: block;
    line-height: 1.3em;
  }
  .navs .nav-list li .nav-link,
  .navs .navbar-dropdown li .nav-link {
    padding: 1em;
    padding-left: 3rem;
  }
  .navs .nav-list li .navbar-dropdown li .nav-link {
    padding-left: 5em;
  }

  .navbar-dropdown {
    position: static;
    padding-left: 0;
  }
  .login-btn-grps .login-btn {
    padding: 0.3rem 1rem;
  }

  .navs .nav-list li .nav-link:hover{
    background-color: var(--text-color);
    color: var(--base-color)!important;
    transition: color 0ms;
  }
 
}
@media only screen and (min-width: 52rem) {
  .nav-list {
    display: block !important;
  }

  .navs ul li .nav-link::after{
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
    background: var(--nav-hover-color);
    height: 1.5px;
    z-index: 9999999;
    transition: width 0.3s cubic-bezier(.52,.14,.5,.89), 
    background 1s cubic-bezier(0.7, 0.5, 0.5, 0.81);
    

  }
  
  .navs ul li .nav-link:hover::after,
  .navs ul li .nav-link:visited:hover::after,
  .navs ul li .nav-link.active::after {
    width: 60%;
  }

  .nav-container .navs-head {
    width: 53vw;
  }
}

@media only screen and (min-width: 65rem) {
  .nav-container .navs-head {
    width: 50vw;
  }
}

@media only screen and (max-width: 65rem) {
  .navs > .nav-list > li > .nav-link,
  .navs > .navbar-dropdown > li > .nav-link,
  .navs ul li .nav-link:visited {
    font-size: 0.9rem;
    padding: 0.9rem;
  }
  .brand {
    font-size: 1.2em;
  }

}
#navbar-toggle {
  cursor: pointer;
  padding: 0.3em 1.5em;
  position: relative;
  height: 100%;
  width: 100%;
}

#navbar-toggle span,
#navbar-toggle span:before,
#navbar-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: #ffffff;
  mix-blend-mode: var(--blend-mode);
  position: absolute;
  display: block;
  content: "";
  transition: all 0.5s ease-in-out;
  top: 0.8rem;
}
#navbar-toggle span::before {
  top: -10px;
}
#navbar-toggle span::after {
  top: 10px;
}
#navbar-toggle.active span {
  background-color: transparent;
}
#navbar-toggle.active span:before,
#navbar-toggle.active span:after {
  top: 0;
}
#navbar-toggle.active span:before {
  transform: rotate(45deg);
}
#navbar-toggle.active span:after {
  transform: rotate(-45deg);
}

.button {
  cursor: pointer;
  padding: 0.9rem 1.9rem;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.5s ease;
  width: max-content;
  text-transform: uppercase;
  backdrop-filter: blur(1.7px);
}


.goUp{
  position: absolute;
  right: 5%;
  bottom: 7%;
  padding: 1em;
  text-decoration: none;
  color: var(--text-color);
  background: var(--base-color);
  border-radius: 20em;

}



#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--base-color);
  z-index: 999999999;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
}

/* Dots styling */
#loader .nameLogo {
  width: 300px;
  height: fit-content;
  
}
#loader .iconLogo{
  width: 80px;
  height: 80px;
  
}
.bounce{
  animation: smoothbounceball 0.7s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.18, 0.47, 0.9, 0.51);
  animation-iteration-count: infinite;
}

#loader.hidden {
  display: none;
  z-index: -999;
}


@keyframes smoothbounceball{
  from { transform: translate3d(0, 0, 0);}
  to { transform: translate3d(0, -50px, 0);}
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body.animations-start .drop-in {
  animation: drop-in 3s ease 700ms backwards;
}
body.animations-start .stagger {
  animation: stagger 1.5s ease var(--delay) backwards;
}
body.animations-start .dissolve2 {
  animation: drop-in 3s ease 700ms backwards;
}
body.animations-start .dissolve {
  animation: dissolve 3s ease 700ms backwards;
}

@keyframes dissolve {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes stagger {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}



footer .company-name {
  font-size: calc(2vw + 2em);
  text-transform: uppercase;
  font-weight: bolder;
  text-transform: capitalize;
  font-family: "Bacalisties", sans-serif;
  align-self: center;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  min-height: 40vh;
  max-height: 75vh;
  width: 100%;
  background-color: var(--text-color);
  color: var(--base-color);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: calc(2vw + 1em);
  padding-inline: 0.8em;
  padding-block: 3.5em;
  font-family: "Rounded Elegance", Arial, Helvetica, sans-serif;
}

footer ul li {
  list-style: none;
}

footer ul li a,
footer p a {
  text-decoration: none;
  color: var(--base-color);
  font-weight: 300;
}

footer .site-footer {
  display: inline-flex;
  flex-direction: column;
  font-size: calc(0.5vw + 1.2em);
  color: var(--base-color);
  width: 90%;
  margin: 2em 0;
  gap: 2em;
  align-items: center;
}

.stack .location {
  margin-top: 10px;
  font-weight: 300;
  line-height: 1.3em;
}

.stack .logo-name {
  font-size: calc(0.5vw + 1.2em);
  font-weight: 500;
  color: white;
}

.site-footer .site-link-group .site-links {
  display: inline-flex;
  gap: calc(5vw + 0.5em);
  width: 100%;
  margin-bottom: 0.8em;
  justify-content: center;
}

.site-footer .site-link-group .link {
  font-weight: 400;
  text-transform: uppercase;
  text-wrap: nowrap;
  position: relative;
  padding-bottom: 5px;
  font-size: calc(0.5vw + 0.5em);
}

.site-footer .site-link-group .social-links {
  display: inline-flex;
  gap: calc(1.5vw + 1em);
  width: 100%;
  justify-content: center;
}

.site-footer .site-link-group .socials {
  font-size: calc(2vw + 1.5em);
  transition: color 0.5s ease;
}

footer .bottom-footer {
  display: inline-flex;
  flex-direction: column;
  width: 90%;
}
footer .bottom-footer .text-link {
  display: inline-flex;
  font-size: calc(0.5vw + 0.5em);
  gap: calc(1vw + 0.5em);

  justify-content: center;
}
.text-link a {
  text-wrap: nowrap;
  position: relative;
  padding-bottom: 5px;
}

.site-footer .site-link-group .socials:hover,
.site-footer .site-link-group .socials:focus-within,
.site-footer .site-link-group .socials:active {
  color: var(--secondary-color);
}

.site-footer .site-link-group .link::after,
.text-link a::after {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: transparent;
  background: var(--base-color);
  height: 1.5px;
  z-index: 99;
  transition: width 0.3s cubic-bezier(0.52, 0.14, 0.5, 0.89);
}

.site-footer .site-link-group .link:hover::after,
.site-footer .site-link-group .link:visited:hover::after,
.text-link a:hover::after,
.text-link a:visited:hover::after {
  width: 80%;
}

@media only screen and (width > 42em) {
  footer {
    padding-inline: calc(1vw + 1em);
    gap: 0;
  }
  footer .site-footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .site-footer .site-link-group {
    display: inline-flex;
    gap: 2em;
  }
  .site-footer .site-link-group .site-links {
    flex-direction: column;
    gap: 1em;
  }
  .site-footer .site-link-group .social-links {
    flex-direction: column;
    width: fit-content;
    gap: 1em;
    justify-content: start;
  }
  .site-footer .site-link-group .socials {
    font-size: calc(1.5vw + 1em);
  }

  footer .company-name {
    font-size: calc(5vw + 2.5em);
    font-weight: 600;
  }
}

hr {
  width: 300px;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  width: 0.95rem;
}

body::-webkit-scrollbar-thumb {
  height: 4rem;
  border-radius: 0.5rem;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: var(--text-color);
  transition: all 1s ease;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #585858;
}

body::-webkit-scrollbar-track {
  background: var(--base-color);
}

body::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

body::-webkit-scrollbar-track-piece:end {
  background: transparent;
}



.book-main{
  position: relative;
  z-index: 2;
  width: 100dvw;
  border-radius: 30px;
  padding-bottom: 5em;
  margin-bottom: 60vh;
  background: var(--base-color);
}
.h1{
  font-size: calc(3vw + 3.5em);
  font-family: Bacalisties;
 text-align: center;
  padding: 45vh 0;
  width: 100%;
  font-weight: 600;
}

