* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
}
:root {
  /* Color */
  --base-color: #f4fafa;
  --primary-color: #00aeb1;
  --secondary-color: #587bc2;
  --accent-color: #91affb;
  --tertiary-color: #d07711;
  --text-color: #1f2929;
  --bgtransparent: transparent;
  --blend-mode:  difference;

  /* --gradient: linear-gradient(35deg, rgba(27,226,197,1) 0%, rgba(70,221,227,1) 46%, rgba(0,202,255,1) 100%);
  --gradient-support: -webkit-linear-gradient(0deg, var(--tertiary-color) 0%,  var(--cyan-color) 100%) */

  --background: ;
  /* Size */
  --font-size-btn: 16px;
  --font-size-logo: 24px;
  --font-size-text: 22px;
  --padding-btn: 8px 20px;

  /* Buttons */
  --btn-border-radius: 0px;
  --btn-transition: 0.3s background;
  --btn-hover-bgcolor: hsl(178, 82%, 44%);
  --btn-active-bgcolor: hsl(178, 86%, 48%);

  /* Transition */
  --transition: 0.1s all ease-in-out;
}
 body {
  background-color: var(--base-color);
  scroll-behavior: smooth;
}
/*
.navbar {
  padding-inline: 2em;

}
.transition-nav-bg {
  width: 100%;
  border-bottom: 2px solid var(--base-color);
  background-color: var(--base-color);
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 1s cubic-bezier(1, 0, 0, 0), max-height 1s ease-in-out;
  overflow: hidden; 
  max-height: 0; 
  height: 62px;
  z-index: -1000;
}

.transition-nav-bg.open {
  max-height: 100px;
}

.navbar-brand {
  font-size: var(--font-size-logo);
  transition: var(--transition);
}

.navbar .login-btn {
  background-color: var(--primary-color);
  color: var(--base-color);
  font-size: var(--font-size);
  padding: var(--padding-btn);
  text-decoration: none;
  border-radius: var(--btn-border-radius);
  transition: var(--btn-transition);
  margin-right: 10px;
}
.navbar .login-btn:hover {
  background: var(--btn-hover-bgcolor);
}
.navbar .login-btn:active {
  background: var(--btn-active-bgcolor);
}
.navbar .navbar-toggler {
  border: none;
  outline: none;
}
.navbar .navbar-toggler:focus,
.navbar .btn-close:focus {
  outline: none;
  box-shadow: none;
}
.navbar .nav-link {
  position: relative;
}

.navbar .nav-link.active::before {
  color: var(--secondary-color);
  width: 20%;
}
.dropdown-item {
  position: relative;
}
.dropdown-item.active::before {
  width: 7%;
}
.dropdown-item.active {
  background-color: var(--bgtransparent);
}
.dropdown-item:active {
  background-color: var(--accent-color);
}
@media screen and (min-width: 992px) {
  .navbar .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: var(--accent-color);
    transition: var(--transition);
  }
  .dropdown-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 0;
    height: 3px;
    background-color: var(--accent-color);
    transition: var(--transition);
  }
  .navbar .nav-link:hover::before,
  .navbar .nav-link:active::before {
    width: 80%;
  }
  .dropdown-item:hover::before {
    width: 30%;
  }
}
.dropdown-toggle::after {
  transition: var(--transition);
}
.dropdown-toggle.show::after {
  transform: rotate(-180deg);
}
.dropdown-menu {
  border-radius: 0;
} */
 

.navigation {
  height: 55px;
  background: linear-gradient(45deg, #4199fe, #74b4fe);
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 55px;
  text-transform: uppercase;
  font-size: 1.4em;
}

.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 55px;
  color: #fff;
  background: transparent; /* Remove redundant background */
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581dc;
  color: #ffffff;
}

.navbar-dropdown li a {
  background: #2581dc;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' \025BE'; /* Unicode character for a down arrow */
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.navbar-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  background: #fff;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  height: 55px;
  width: 70px;
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }
  .nav {
    width: 100%;
    padding: 55px 0 15px;
  }
  .nav ul {
    display: none;
  }
  .nav ul li {
    float: none;
  }
  .nav ul li a.nav-link {
    padding: 15px;
    line-height: 20px;
    background: #262626;
  }
  .nav ul li ul li a.nav-link {
    padding-left: 30px;
  }
  .navbar-dropdown {
    position: static;
  }
}

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}

#navbar-toggle {
  position: absolute;
  left: 18px;
  top: 15px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#navbar-toggle span,
#navbar-toggle span:before,
#navbar-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}

#navbar-toggle span:before {
  top: -10px;
}

#navbar-toggle span:after {
  bottom: -10px;
}

#navbar-toggle.active span {
  background-color: transparent;
}

#navbar-toggle.active span:before,
#navbar-toggle.active span:after {
  top: 0;
}

#navbar-toggle.active span:before {
  transform: rotate(45deg);
}

#navbar-toggle.active span:after {
  transform: rotate(-45deg);
}

/* Parallax and content styles */
.main .parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main .parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
 .card-image-wrapper .parallax:nth-of-type(1){
  background-image: url("https://scontent.fmnl17-5.fna.fbcdn.net/v/t39.30808-6/434153725_418168464136118_8081398989865437553_n.png?_nc_cat=108&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeE1Mn-PuQOFDwa4QF8eZ1BORxM6Qx_ehtpHEzpDH96G2mpp1ivREWNfStz9CKT6rH0ApT8Dnpy6CZ5scqBJxKBQ&_nc_ohc=gKXUdXVcYuEQ7kNvgFk9zlY&_nc_zt=23&_nc_ht=scontent.fmnl17-5.fna&_nc_gid=AXZiawigUmi__PB40yJB4t0&oh=00_AYAU7xJfQyoOG13iGGZUvcu3csS6hxrr95UCNC3fWgnE1g&oe=672A14B5");
}
.card-image-wrapper .parallax:nth-of-type(2){
  background-image: url("https://scontent.fmnl17-4.fna.fbcdn.net/v/t39.30808-6/366705873_290933783523314_7326540913198168877_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeFCvrgY5HYqbVtHF9XF97e6x2GfOgtDtJjHYZ86C0O0mIs10KT8PcjihxyOLUstjWEQcTN3wqidKXNHSXJWt3dl&_nc_ohc=O7yRCJL42MkQ7kNvgGAUD3O&_nc_zt=23&_nc_ht=scontent.fmnl17-4.fna&_nc_gid=A6VRv6xiMj5QVQdMd9o77Io&oh=00_AYCK8u4_ZIoAyFqiEH441ImxGhrRHPS9zQ0FcYxq_NpH0A&oe=672A2566");
}
.content {
  height: 500px;
  background-color: inherit;
  text-align: center;
  padding: 50px;
}

 .marquee {
  width: 100%;
  padding-top: 10em;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  height: 80vh;
}
.marquee span {
  font-family: "Anton", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--secondary-color);
  font-size: calc(8vw + 3em);
  text-transform: uppercase;
  display: inline-block;
  padding-left: -10%;
  animation: marquee-animation 60s linear infinite;
}

/* .scrollEffect{
  animation: scrollReveal ease-in-out both;
  animation-timeline: view();
  animation-range: entry 20% cover 50%;
} */



.home {
  will-change: transform;
  height: max-content; 
  width: 100%;
  position: fixed;
  top: 0;
}


.home .contents{
  overflow: hidden;
  height: 100vh;
  & .card-image-wrapper{
    height: 135%;
    will-change: transform;
  }
}

.gallery{
  position: fixed;

  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 0.25rem;
  padding: 0.25rem;
  will-change: transform;
}

.gallery .cards {
  height: 400px;
  overflow: hidden;

  & .card-image-wrapper {
    height: 135%;
    will-change: transform;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
} 

@media (width < 1000px) {
  .gallery {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (width < 550px) {
  .gallery {
    grid-template-columns: repeat(1,1fr);
  }
}



@keyframes marquee-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body.animations-start .drop-in {
  animation: drop-in 1s ease 500ms backwards;
}
body.animations-start .dissolve2 {
  animation: drop-in 3s ease 700ms backwards;
}
body.animations-start .dissolve {
  animation: dissolve 2s ease 500ms backwards;
}

@keyframes dissolve {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--base-color); 
  z-index: 9999;
  overflow: hidden;
}

/* Dots styling */
.dot {
  width: 20px;
  height: 20px;
  margin: 0 4px;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

/* Bounce animation */
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}

/* Delay for each dot to create a sequential bounce effect */
.dot:nth-child(1) {
  animation-delay: 0s;
  background-color: var(--primary-color);
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
  background-color: var(--secondary-color);
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
  background-color: var(--accent-color);
}
.coolfkngthingy {
  height: 300svh;
  width: 100%;
}

.text-cont{
  height: 30vh;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
  position: sticky;
  top: 20%;
}

.text { 
  height: fit-content;
  list-style: none;
  border-bottom: 0;
  height: fit-content;
  margin: 0;
  padding: 0;
 
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.text.hidden {
  border-bottom: 1px solid var(--text-color);
}


.text li {
  display: inline-block;
  float: left;
  font-weight: 700;
  font-size: 2em;
  color: var(--text-color);
  opacity: 1;
  transition: all 1s ease-in-out;
  max-width: 2em;
}
.text.hidden li.spaced {
  padding-left: 0;
}
.text li.spaced {
  padding-left: 0.5em;
}

.text.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}


