*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
body{
    padding: 5em 0;
    display: flex;
    align-items: center;
    height: 80vh;
    background-color: rgb(39, 107, 255);
    flex-direction: column;
    gap: 10em;
 
}
.container{
    padding: .5em 2.5em 3.5em 2.5em;
    display: flex;
    border-radius: 7px;
    flex-direction: column;
    column-gap: 2em;
    background-color:white;
    width: max-content;
    
}
.errors{
    padding: .7em 1em ;
    height: fit-content;
    background-color: rgb(255, 212, 212);
    border-radius: 5px;
    border: 1px solid rgb(241, 181, 181);
    margin-bottom: 10px;
}
.success{
    padding: 1em 1em ;
    height: fit-content;
    background-color: rgb(191, 255, 175);
    border-radius: 5px;
    border: 1px solid rgb(140, 252, 140);
    margin-bottom: 10px;
}
.container h1{
    margin: .7em 0 .5em 0;
}
.container .form{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-top: 2em;
}
.form #inputs{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    
}
.form .seePasswordToggle{
    position: relative;
 }
.form .seePasswordToggle i {
    display: none;
    position: absolute;
    right: 5%;
    transform: translateX(50%);
    top: 17px;
    font-size: 1em;
}
.form #inputs input:not(:placeholder-shown) + i{
    display: block;
}
.form #inputs input{
    min-width: 25em;
    width: 100%;
    padding-block: .8em;
    padding-inline: .6em;
    border: 1px solid transparent;
    border-bottom: 1px solid rgb(44, 44, 44);
    background-color: transparent;
    font-size: 16px;

}
.form #inputs input:active, .form #inputs input:focus, .form #inputs input:focus-visible {
    border: 1px solid rgb(164, 164, 165);
    outline-width: 0;
    border-radius: 5px;
}
.conf{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    align-items: center;
}
.conf label {
    display: flex;
    align-items: center;
    gap: 7px;
}
.conf input{
    margin-bottom: 2px;
}
.conf a{
    font-size: 14px;
    text-decoration: none;
    color: blue;
}
.form input[type="submit"]{
    padding-block: .6em;
    padding-inline: .6em;
    background-color: rgb(39, 107, 255);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    font-weight: 500;
    transition: all .2s;
    margin-bottom: 3em;
}

.form input[type="submit"]:hover{
    background-color: rgb(0, 81, 255);
}
.form input[type="submit"]:active{
    background-color: rgb(96, 146, 255);
}
#login-btn a, #register-btn a{
    text-decoration: none;
    color: blue;
}
